* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto Condensed';
}

a {
    
}

header {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0px lightgray;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-size: 18px;
    font-weight: 700;
    color: #273746;
    text-decoration: none;
}